.clusterLogo { position:absolute; }

.linkBanner .navRight ul li:first-child { margin-right:0em; }

.topLogoImage {
    padding: 5px 15px;
    position: relative;
    z-index:2;
    
}

.mobiusLogo {
    top:10px;
}